<mat-sidenav-container class="sidenav-container">
	<mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="'navigation'" mode="side" opened>
		<mat-toolbar color="primary">Menu</mat-toolbar>
		<mat-nav-list>
			<a mat-list-item [routerLink]="['users','list']">Users</a>
      <a mat-list-item (click)="navigateToDetail()">Catalogs</a>
      <a mat-list-item (click)="showNotImplemented()">Flyers</a>
      <a mat-list-item [routerLink]="['/']">Logout</a>
		</mat-nav-list>
	</mat-sidenav>
	<mat-sidenav-content>
		<mat-toolbar color="primary">
			<button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
				<mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
			</button>
      <div>Welcome to Demo App</div>
		</mat-toolbar>
		<router-outlet></router-outlet>
	</mat-sidenav-content>
</mat-sidenav-container>
